<% provide(:title, "Contact") %>
<h1>Contact info for syntaxSymposium </h1>
<p>You can follow syntaxSymposium on Twitter! <a href="https://twitter.com/SyntaxSymposium" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @SyntaxSymposium</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> </p>

<h2>Contact info for Hunter Jansen</h2>
<p>You can follow Hunter on Twitter! <a href="https://twitter.com/Hunter_Jansen" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @Hunter_Jansen</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> </p>
<p>Hunter is also on facebook! <!-- Facebook Badge START --><img src="https://badge.facebook.com/badge/506513911.7068.435663000.png" style="border: 0px;" /></a><!-- Facebook Badge END -->
</p>
<p>AND Google+! <!-- Place this code where you want the badge to render. -->
<a href="//plus.google.com/114615082520547783204?prsrc=3" rel="publisher" style="text-decoration:none;">
<img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/></a>
</p>
<p>Plus also, on LinkedIn! <a href="http://ca.linkedin.com/pub/hunter-jansen/4a/513/430">
      
          <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View Hunter Jansen's profile on LinkedIn">
        
    </a>
</p>
<p>Finally, if you don't social network - you could always just <%= link_to "email me", "mailto:rawkamatic@gmail.com" %> . . . I guess. </p>
