<div id ='secondBox'>
	<h3>Updates</h3>
	The most recent changes to this site are the brand new layout fixes, color schemes, icon and of course, the switch from syntaxSymposium to calmlyCoding. Also, there is now a new split focus on this blog - Blog and Apps!
</div>